<!-- Validation failure messages -->
<% if @medium.errors.any? %>
  <% @medium.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Medium #<%= @medium.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_medium/<%= @medium.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @medium.name %>">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="<%= @medium.url %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @medium.description %>">
      </div>

      <!-- Label and input for chapter_id -->
      <div class="form-group">
        <label for="chapter_id" class="control-label">
          Chapter
        </label>

        <%= select_tag(:chapter_id, options_from_collection_for_select(Comic.all, :id, :created_at, @medium.chapter_id), :class => "form-control") %>
      </div>

      <!-- Label and input for social_issue -->
      <div class="form-group">
        <label for="social_issue" class="control-label">
          Social issue
        </label>

        <input type="text" id="social_issue" name="social_issue" placeholder="Social issue" class="form-control" value="<%= @medium.social_issue %>">
      </div>

      <button class="btn btn-warning">
        Update Medium
      </button>
      or
      <a href="/media/<%= @medium.id %>">Cancel</a>
    </form>
  </div>
</div>
