<div class="page-header">
  <h1>
    Media
    <a href="/media/new" class="btn btn-lg btn-success">New Medium</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Bio</th>
        <th>Stage</th>
        <th>Actions</th>
      </tr>

      <% @media.each do |medium| %>
      <tr>
        <td><%= medium.name %></td>
        <td><%= medium.url %></td>
        <td><%= medium.bio %></td>
        <td>
          <% if medium.stage.present? %>
            <a href="/stages/<%= medium.stage.id %>">
              <%= medium.stage.issue_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/media/<%= medium.id %>" class="btn btn-primary">Show</a>
          <a href="/media/<%= medium.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_medium/<%= medium.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @media, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
