<div class="page-header">
  <h3>Medium #<%= @medium.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @medium.name %></dd>

      <dt>Url</dt>
      <dd><%= @medium.url %></dd>

      <dt>Description</dt>
      <dd><%= @medium.description %></dd>

      <dt>Comic</dt>
      <dd>
        <% if @medium.issue.present? %>
          <a href="/comics/<%= @medium.comic_id %>">
            <%= @medium.issue.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Social issue</dt>
      <dd><%= @medium.social_issue %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/media" class="btn btn-primary">
        Back
      </a>
      <a href="/media/<%= @medium.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_medium/<%= @medium.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
